access_control_allow_origin=
add_apache_comments=1
add_domain_to_domainips=0
add_non_readable_files_to_strict_backup=1
add_userdb_quota=1
addip=/usr/local/directadmin/scripts/addip
admin_helper=admin.site-helper.com
admindir=./data/admin
ajax=1
ajax_cache_max_time=1800
ajax_list_max=20
allow_backup_exclude_path=1
allow_db_underscore=0
allow_dns_underscore=0
allow_foreign_key=0
allow_incoming_email_on_suspend=0
allow_numeric_username=0
allow_ttl_override=1
allow_upper_case_username=0
allow_user_exec=0
ambiguous_characters_in_random_passwords=1
apache_pid=/var/run/httpd.pid
apache_public_html=0
apache_ver=2.0
apacheca=/usr/local/etc/apache24/ssl/server.ca
apachecert=/usr/local/etc/apache24/ssl/server.crt
apacheconf=/usr/local/etc/apache24/httpd.conf
apacheips=/usr/local/etc/apache24/ips.conf
apachekey=/usr/local/etc/apache24/ssl/server.key
apachelogdir=/var/log/httpd/domains
apachemimetypes=/usr/local/etc/apache24/mime.types
awstats=0
background_delete_size=10240
backup_apache_files_list=1
backup_debug=0
backup_ftp_pre_test=1
backup_gzip=1
backup_hard_link_check=1
backup_nice=19
backup_tmp_path_has_pid=1
backup_tmpdir=/home/tmp
bind_address=
block_cracking_unblock=1
block_cracking_unblock_minutes=120
block_ip_after_failed_security_questions=0
block_ip_after_failed_twostep_auth=0
block_token_chars=$[]<>:#
brute_force_apache_log_list_update_interval=10
brute_force_exim_log=/var/log/exim/mainlog
brute_force_ignore_attempts_on_suspended=1
brute_force_log_scanner=1
brute_force_mail_log=/var/log/maillog
brute_force_messages_log=/var/log/messages
brute_force_notifications_email_only=0
brute_force_pma_log=/usr/local/www/phpMyAdmin/log/auth.log
brute_force_roundcube_log=/usr/local/www/roundcube/logs/errors
brute_force_scan_apache_logs=2
brute_force_secure_log=/var/log/auth.log
brute_force_squirrelmail_log=/usr/local/www/squirrelmail/data/squirrelmail_access_log
brute_force_time_limit=1200
brutecount=100
bruteforce=0
cacert=/usr/local/directadmin/conf/cacert.pem
cakey=/usr/local/directadmin/conf/cakey.pem
carootcert=
check_group_on_user_create=1
check_load=10
check_load_minute=5
check_partitions=2
check_plugin_update_interval=1440
check_referer=1
check_subdomain_owner=1
check_task_queue=2048
chpass=/usr/bin/chpass
chpasswd=/usr/sbin/chpasswd
clean_forwarders_on_email_delete=1
clear_blacklist_ip_time=0
clear_brute_log_entry_time=4
clear_brute_log_time=24
cloud_cache=0
cluster=0
count_email_usage=0
count_pop_usage=1
crypt_method=1
custom_mysql_conf=0
custom_stats_path=
damycnf=/usr/local/directadmin/conf/my.cnf
database_extended_user_privileges=1
default_email_notify_limit=1000
default_mailing_list_max=100000
default_pop_quota=50
delete_messages_days=0
delete_tickets_days=0
demodocsroot=./data/skins/enhanced
dig=/usr/bin/dig
disable_ip_check=0
disable_php_script_at_limit_minimum=100
disable_php_script_at_limit_threshold=80
disk_usage_suspend=0
dkim=0
dns_spf=0
dnssec=0
dnssec_mss_use_signed_zone=1
docsroot=./data/skins/enhanced
domainips_default_ip=
dovecot=1
edquota=/usr/sbin/edquota
email_ftp_password_change=1
emailspoolvirtual=/var/spool/virtual
emailvirtual=/etc/virtual
enable_ssl_sni=0
enforce_difficult_passwords=1
errorlog=/var/log/directadmin/error.log
ethernet_dev=vmx3f0
exempt_local_block=1
ext_quota_partitions=
extra_backup_option=
extra_mysqldump_options=
extra_spf_value=
filemanager_du=1
fm_dir_permissons=755
fm_file_permissions=644
fm_hour_offset=0.000000
fm_owners=|USER|:|GROUP|
force_hostname=
frontpage_on=1
ftpconfig=/usr/local/etc/proftpd.conf
ftppasswd=/etc/proftpd.passwd
ftppasswd_db=/etc/pureftpd.pdb
ftpsep=@
ftpvhosts=/usr/local/etc/proftpd.vhosts.conf
full_mx_records=1
global_httpd_tokens=/usr/local/directadmin/data/admin/global_httpd_tokens.conf
graceful_restarts=0
groupadd=/usr/sbin/groupadd
groupdel=/usr/sbin/groupdel
handshake_timeout=12
hard_quota_multiplier=1.1
hide_brute_force_notifications=1
hide_ip_user_numbers=0
hide_outlook=1
hide_webmail_links=0
hook_custom_vars=0
hsts=-1
htm_all_scripts=0
htpasswd=/usr/bin/htpasswd
incremental_ftp=1
inode=1
internal_lang=/usr/local/directadmin/data/skins/enhanced/lang
ionice_string=
ip_blacklist=/usr/local/directadmin/data/admin/ip_blacklist
ip_brutecount=100
ip_whitelist=/usr/local/directadmin/data/admin/ip_whitelist
ipv6=0
lan_ip=
language=en
license=/usr/local/directadmin/conf/license.key
litespeed=0
load_notice_interval=10
load_top_string=/usr/bin/top -b -d 1 all
log_rotate_size=5
logdir=/var/log/directadmin
logger=/usr/local/directadmin/logger
loghostname=0
login_history=10
login_keys=1
login_keys_notify_on_creation=1
loginlog=/var/log/directadmin/login.log
logs_to_keep=10
lost_password=0
maildir_with_new=1
mailtaskqueue=/etc/virtual/mail_task.queue
max_per_email_send_limit=-1
max_read_to_memory_size=524288000
max_security_question_attempts=5
max_twostep_auth_attempts=5
max_user_send_limit=-1
max_username_length=12
maxfilesize=10485760
modsec_audit_dir=/var/log/modsec_audit
mq_exim_bin=/usr/local/sbin/exim
msg_sys=Message System
multi_ip_enabled=1
mysql=1
mysqlconf=/usr/local/directadmin/conf/mysql.conf
name=DirectAdmin
named_checkzone=1
namedconfig=/etc/namedb/named.conf
nameddir=/etc/namedb
nginx=0
nginx_ca=/usr/local/etc/nginx/ssl.crt/server.ca
nginx_cert=/usr/local/etc/nginx/ssl.crt/server.crt
nginx_key=/usr/local/etc/nginx/ssl.key/server.key
nginx_pid=/var/run/nginx.pid
nginx_proxy=0
nginx_proxy_buffering=0
nginxconf=/usr/local/etc/nginx/directadmin-vhosts.conf
nginxips=/usr/local/etc/nginx/directadmin-ips.conf
nginxlogdir=/var/log/nginx/domains
notify_admins_on_mass_emailings=1
notify_admins_on_per_email_mass_emailings=1
notify_email_on_per_email_limit=1
notify_on_mass_emailing=1
notify_reseller_on_mass_emailing=1
notify_user_on_mass_emailing=1
ns1=ns1.example.com
ns2=ns2.example.com
numservers=10
old_public_html_link=1
open_basedir=ON
openssl=/usr/bin/openssl
owsadm=/usr/local/frontpage/version5.0/bin/owsadm.exe
parse_php_mail_log_at_limit=1
partition_usage_threshold=95
passwd=/usr/bin/passwd
php_mail_log=1
php_version_selector=1
pigz=0
pipe_log=/dev/null
plugins_allowed_run_as=1
pop_disk_usage_cache=0
pop_disk_usage_true_bytes=0
port=2222
port_443=443
port_8080=8080
port_8081=8081
port_80=80
process_list_debug=0
pure_pw=/usr/bin/pure-pw
pureftp=0
pureftp_log=/var/log/pureftpd.log
purge_spam_days=14
pw=/usr/sbin/pw
quota_partition=/home
quota_update_interval=10
random_password_length=16
random_password_length_max=10
remote_dns_retries=0
remove_clipboard_on_logout=1
removeip=/usr/local/directadmin/scripts/removeip
repquota=/usr/sbin/repquota
request_timeout=20
reseller_backup_bandwidth=1
reseller_can_reset_email_count=0
reseller_can_set_email_limit=0
reseller_helper=reseller.site-helper.com
reseller_warning_thresh=75
restart_apache_after_tally=1
rotation=1
safemode=OFF
secure_access_group=access
security_questions=1
securitylog=/var/log/directadmin/security.log
send_usage_message=1
servername=da0.example.com
serverpath=/usr/local/directadmin
session_cookie_multiplier=24
session_minutes=60
sessions_dir=/usr/local/directadmin/data/sessions
setquota=/usr/sbin/setquota
show_db_usage=1
show_info_in_header=1
show_php_version=1
show_pointers_in_list=1
simple_disk_usage=0
skin_domain_redirect=1
skinsdir=./data/skins
skip_databases_in_backups=0
skip_domains_in_backups=0
skip_ftp_on_backup_fail=0
skip_hometargz_in_backups=0
skip_imap_in_backups=0
skip_roundcube_in_backups=0
skip_uebimiau_in_backups=0
spam_inbox_prefix=1
special_characters_in_random_passwords=0
sshdconfig=/etc/ssh/sshd_config
ssl=0
ssl_cipher=HIGH:!aNULL:!MD5
ssl_ignore_when_local=0
ssl_port=2223
ssl_redirect_host=
strict_backup_permissions=1
sysbk_conf=/usr/local/sysbk/conf.sysbk
systemd=0
systemlog=/var/log/directadmin/system.log
table_highlighting=1
tally_after_restore=1
taskqueue=/usr/local/directadmin/data/task.queue
taskqueuecb=/usr/local/directadmin/data/task.queue.cb
taskqueueda=/usr/local/directadmin/data/task.queue.da
templates=/usr/local/directadmin/data/templates
ticketsdir=/usr/local/directadmin/data/tickets
timeout=60
tmpdir=/home/tmp
tokenize_script_output=0
tokenizer_debug=0
track_task_queue_processes=1
twostep_auth=1
twostep_auth_discrepancy=1
twostep_auth_trust_days=30
unblock_brute_ip_time=0
unified_ftp_password_file=1
use_cookie_expires=1
use_syslogd=0
use_uid_counting=1
use_xfs_quota=0
user_brutecount=100
user_can_select_skin=0
user_can_set_email_limit=1
user_dnssec_control=0
user_helper=www.site-helper.com
user_warning_thresh=80
user_warning_thresh_disk=95
user_warning_thresh_inode=95
useradd=/usr/sbin/useradd
userdata=./data/users
userdel=/usr/sbin/userdel
usermod=/usr/sbin/usermod
usersdir=./data/users
utf8_encode_subject=0
version=1.50
webalizer=0
webapps_ssl=0
webmail_link=roundcube
wrap_long_dns_values=1
xfs_on_domains=0
xfs_quota=/usr/sbin/xfs_quota
zip=1
